body{
    background-color: grey;
}
.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    position: absolute;
    height: 800px;
    color: aqua;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#1cb7d6 0%, #de0b16 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;

}

.imp{
    float: right;
    }

